<%= form_with(model: [:admin, release]) do |form| %>
  <% if release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
        <% release.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email_template %>
    <%= form.text_area :email_template %>
  </div>

  <div class="field">
    <%= form.label :claim_limit %>
    <%= form.number_field :claim_limit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
