<p id="notice"><%= notice %></p>

<h1>Releases</h1>

<table>
  <thead>
    <tr>
      <th>Mail subject</th>
      <th>Distributable total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @releases.each do |release| %>
      <tr>
        <td><%= release.email_subject %></td>
        <td><%= release.distributable_total %></td>
        <td><%= link_to 'Show', [:admin, release] %></td>
        <td><%= link_to 'Edit', edit_admin_release_path(release) %></td>
        <td><%= link_to 'Destroy', [:admin, release], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Release', new_admin_release_path %>
